.bottom-songs
    .song
        margin-bottom: 10px
        display: flex
        align-items center

        .title
            margin-right: 10px
            font-size 20px

        .title, audio
            flex 0 0 50%


