form
    max-width 800px
    margin 0 auto
    border 1px solid lightblue
    padding 15px
    .form-group
        margin-bottom: 20px

        label
            font2()
            margin-right: 10px
            color darkslateblue