.show-album
    .top
        display: flex

        .left
            flex 0 0 40%

        .right
            flex 0 0 60%
            padding-left: 15px
            align-items center


            .info
                font-weight bold
                display: block
                margin-bottom: 10px

                a
                    color $mediumBlue

                span
                    font-weight normal
                    font2()
                    font-size 19px
                    color $lightBlue

    .bottom
        margin-top: 40px
