@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:500|Lora&subset=latin-ext");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
strong {
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}
.tac {
  text-align: center;
}
[v-cloak] {
  display: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  color: #000;
  font-size: 16px;
  font-family: 'Lora', serif;
  font-weight: 400;
  line-height: 1;
}
.wrap {
  margin: 0 auto;
  max-width: 1260px;
  padding-left: 30px;
  padding-right: 30px;
}
p {
  margin: 10px 0;
  line-height: 2.1;
}
.h1 {
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: calc(30px + 26 * ((100vw - 420px) / 860));
  letter-spacing: 2.8px;
  line-height: 1.2;
  margin: 10px 0;
  margin-bottom: 25px;
}
@media screen and (min-width: 1280px){
  .h1{
    font-size: 56px;
  }
}
@media screen and (max-width: 420px){
  .h1{
    font-size: 30px;
  }
}
@media (max-width: 599px) {
  .h1 {
    margin: 4px 0 25px;
  }
}
.h2 {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: calc(20px + 2 * ((100vw - 420px) / 860));
  letter-spacing: 2.8px;
  line-height: 1.2;
  margin: 10px 0;
  margin-bottom: 25px;
}
@media screen and (min-width: 1280px){
  .h2{
    font-size: 22px;
  }
}
@media screen and (max-width: 420px){
  .h2{
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .h2 {
    margin: 4px 0 25px;
  }
}
.split {
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.split > * {
  -o-box-flex: 1;
  box-flex: 1;
  flex: 0 0 50%;
}
section {
  width: 100%;
}
.tac {
  text-align: center;
}
.alert {
  color: #cd5c5c;
  line-height: 1.6;
}
.album-table {
  border: 1px solid #add8e6;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 30px 0;
  padding-right: 30px;
  padding-left: 30px;
  box-shadow: 20px 5px 55px 55px rgba(95,144,199,0.05);
  border-radius: 10px;
  width: 100%;
  overflow-x: auto;
}
.album-table tbody {
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-orient: vertical;
  flex-direction: column;
  width: 100%;
}
.album-table th,
.album-table td {
  padding-right: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.album-table tr {
  min-height: 70px;
  width: 100%;
  display: -ms-flexbox;
  display: box;
  display: flex;
  border-bottom: 1px solid #add8e6;
}
.album-table td,
.album-table th {
  -o-box-flex: 1;
  box-flex: 1;
  flex: 0 0 10%;
  min-width: 100px;
}
.album-table th {
  color: #1e90ff;
}
.album-table .img-db {
  max-width: 100px;
}
.album-table .album-name {
  color: #fffb78;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.2;
}
.album-table .album-name:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.show-albums {
  background-image: linear-gradient(to right, #94c0e8, #507ba3, #3c5d7b);
  padding: 50px;
}
.all-albums {
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  flex-wrap: wrap;
}
.all-albums .album {
  -o-box-flex: 1;
  box-flex: 1;
  flex: 0 0 25%;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.all-albums .album .left {
  -o-box-flex: 1;
  box-flex: 1;
  flex: 0 0 60%;
}
.all-albums .album .right {
  -o-box-flex: 1;
  box-flex: 1;
  flex: 0 0 40%;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-orient: vertical;
  flex-direction: column;
  padding-left: 10px;
  -o-box-pack: justify;
  justify-content: space-between;
  align-content: space-between;
}
.all-albums .album .right .h2 {
  color: #507ba3;
}
.all-albums .album .right .details {
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-orient: vertical;
  flex-direction: column;
  position: relative;
  bottom: 0;
}
.all-albums .album .right .details .author {
  color: #1a252e;
  font-size: 18px;
}
.all-albums .album .right .details .date {
  color: 0.3s;
  font-size: 13px;
}
..all-albums .album:nth-child(2) {
  background-color: #f5f5f5;
}
.bottom-songs .song {
  margin-bottom: 10px;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-align: center;
  align-items: center;
}
.bottom-songs .song .title {
  margin-right: 10px;
  font-size: 20px;
}
.bottom-songs .song .title,
.bottom-songs .song audio {
  -o-box-flex: 1;
  box-flex: 1;
  flex: 0 0 50%;
}
.body-effect {
  transition: background-color 900ms 250ms ease-in-out;
  position: relative;
}
.sections-holder {
  position: relative;
  height: 100%;
}
.sections-holder .section {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.sections-holder .section .media-holder {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #add8e6;
  transform: scale(0.95, 0.92) translateZ(0px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform 250ms ease-in-out;
}
.sections-holder .active .media-holder {
  transition-delay: 1400ms;
  transform: scale(1, 1) translateZ(0px);
}
.media-holder.active {
  transform: scale(1, 1) translateZ(0px);
  transition: all 0.4s;
}
sections-holder.trans {
  transition: transform 700ms ease 500ms;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translate3d(0px, -532px, 0px);
}
.media-holder .chan {
  background-color: #1f648b;
  transition: all 900ms 250ms ease-in-out;
}
form {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #add8e6;
  padding: 15px;
}
form .form-group {
  margin-bottom: 20px;
}
form .form-group label {
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 10px;
  color: #483d8b;
}
@CHARSET "ISO-8859-1";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
table {
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
strong {
  font-weight: bold;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
* { /* Safari<=5 Android<=3 */ /* <=28 */
  box-sizing: border-box;
}
body {
  font-family: arial, helvetica;
}
.section {
  position: relative;
  text-align: center;
}
#section-1 h2 {
  color: #fff;
  font-size: 10em;
  font-weight: 900;
}
#section-1 h1 {
  font-size: 2em;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  margin: 1.5em auto 1em auto;
  color: #35495e;
  padding-right: 30px;
  padding-left: 30px;
}
#section-1 li {
  display: inline-block;
  margin: 1.25em 0.3em;
}
.section-1-button {
  padding: 0.93em 1.87em;
  background: #35495e;
  border-radius: 5px;
  display: block;
  color: #fff;
}
h3 {
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
#logo {
  position: fixed;
  top: 20px;
  left: 20px;
  color: #fff;
  font-weight: bold;
  z-index: 99;
  font-size: 1.9em;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
#menu-line {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 159px;
  height: 2px;
  background: #fff;
}
#menu {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 70;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  letter-spacing: 1px;
  font-size: 1.1em;
}
#menu li {
  display: inline-block;
  margin: 10px 0px;
  position: relative;
}
#menu a {
  color: #fff;
  padding: 0 1.1em 1.1em 1.1em;
}
#menu li.active a:after {
  content: '';
  margin: 0 1.1em 0 1.1em;
  height: 2px;
  background: #fff;
  display: block;
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  display: block;
}
.actions {
  position: fixed;
  bottom: 2%;
  margin: 0 auto;
  z-index: 99;
  left: 0;
  right: 0;
  text-align: center;
}
.actions li {
  display: inline-block;
  margin: 0.3em 0.3em;
}
.actions-button {
  padding: 0.73em 1.47em;
  background: rgba(53,73,94,0.47);
  border-radius: 5px;
  display: block;
  color: #fff;
  cursor: pointer;
}
.twitter-share i {
  vertical-align: middle;
  position: relative;
  top: 2px;
  display: inline-block;
  width: 38px;
  height: 14px;
  color: #fff;
  top: -4px;
  left: -2px;
  fill: #fff;
}
.twitter-share svg {
  height: 40px;
  margin-top: -10px;
}
.view-github {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
  padding: 0.93em 1.87em;
  background: #35495e;
  border-radius: 5px;
  display: block;
  color: #fff;
}
header {
  position: relative;
  width: 100%;
  height: 100px;
  color: #151e24;
}
header .logo {
  height: 100%;
}
header .logo img {
  width: 200px;
  height: 100px;
}
header .wrap {
  height: 100%;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-align: center;
  align-items: center;
}
header nav {
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-align: center;
  align-items: center;
  height: 100%;
  align-self: flex-start;
  -ms-flex-item-align: start;
}
header nav a {
  margin-right: 15px;
  color: #bf9474;
  font-size: 18px;
}
header nav a:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
header nav a.active {
  color: #94c0e8;
}
.index-authors {
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  flex-wrap: wrap;
  margin-top: 20px;
}
.index-authors .author {
  height: 100px;
  display: block;
  -o-box-flex: 1;
  box-flex: 1;
  flex: 0 0 100%;
  margin-bottom: 10px;
  margin-right: 10px;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
  text-align: center;
  padding: 20px 10px;
  overflow: hidden;
}
.index-authors .author:before {
  content: '';
  background-color: #000;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  border: 0 solid transparent;
  transition: border 0.5s;
}
.index-authors .author .name {
  display: block;
  margin: 0 auto;
  font-size: 22px;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 3;
  position: relative;
  color: #fff;
}
.index-authors .author:hover {
  transform: scale(0.97);
}
.index-authors .author:hover .name {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  transition: all 0.3s;
}
.show-album .top {
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.show-album .top .left {
  -o-box-flex: 1;
  box-flex: 1;
  flex: 0 0 40%;
}
.show-album .top .right {
  -o-box-flex: 1;
  box-flex: 1;
  flex: 0 0 60%;
  padding-left: 15px;
  -o-box-align: center;
  align-items: center;
}
.show-album .top .right .info {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
.show-album .top .right .info a {
  color: #507ba3;
}
.show-album .top .right .info span {
  font-weight: normal;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 19px;
  color: #94c0e8;
}
.show-album .bottom {
  margin-top: 40px;
}
.show-author .top {
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.show-author .top .left {
  -o-box-flex: 1;
  box-flex: 1;
  flex: 0 0 40%;
}
.show-author .top .right {
  -o-box-flex: 1;
  box-flex: 1;
  flex: 0 0 60%;
}
.show-author .bottom-albums .albums {
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  flex-wrap: wrap;
}
.show-author .bottom-albums .albums .album {
  height: 100px;
  display: block;
  -o-box-flex: 1;
  box-flex: 1;
  flex: 0 0 20%;
  margin-bottom: 10px;
  margin-right: 10px;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
  text-align: center;
  padding: 20px 10px;
  overflow: hidden;
}
.show-author .bottom-albums .albums .album:before {
  content: '';
  background-color: #000;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  border: 0 solid transparent;
  transition: border 0.5s;
}
.show-author .bottom-albums .albums .album .name {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  z-index: 3;
  position: relative;
  color: #fff;
}
.show-author .bottom-albums .albums .album:hover {
  transform: scale(0.97);
}
.show-author .bottom-albums .albums .album:hover .name {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  transition: all 0.3s;
}

/*# sourceMappingURL=main.css.map */
