@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:500|Lora&subset=latin-ext");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
strong {
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}
.tac {
  text-align: center;
}
[v-cloak] {
  display: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  color: #000;
  font-size: 16px;
  font-family: 'Lora', serif;
  font-weight: 400;
  line-height: 1;
}
.wrap {
  margin: 0 auto;
  max-width: 1260px;
  padding-left: 30px;
  padding-right: 30px;
}
p {
  margin: 10px 0;
  line-height: 2.1;
}
.h1 {
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: calc(30px + 26 * ((100vw - 420px) / 860));
  letter-spacing: 2.8px;
  line-height: 1.2;
  margin: 10px 0;
  margin-bottom: 25px;
}
@media screen and (min-width: 1280px){
  .h1{
    font-size: 56px;
  }
}
@media screen and (max-width: 420px){
  .h1{
    font-size: 30px;
  }
}
@media (max-width: 599px) {
  .h1 {
    margin: 4px 0 25px;
  }
}
.split {
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.split > * {
  -o-box-flex: 1;
  box-flex: 1;
  flex: 0 0 50%;
}
section {
  width: 100%;
}
.tac {
  text-align: center;
}
.alert {
  color: #cd5c5c;
  line-height: 1.6;
}
.album-table {
  border: 1px solid #add8e6;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 30px 0;
  padding-right: 30px;
  padding-left: 30px;
  box-shadow: 20px 5px 55px 55px rgba(95,144,199,0.05);
  border-radius: 10px;
  width: 100%;
  overflow-x: auto;
}
.album-table tbody {
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-orient: vertical;
  flex-direction: column;
  width: 100%;
}
.album-table th,
.album-table td {
  padding-right: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.album-table tr {
  min-height: 70px;
  width: 100%;
  display: -ms-flexbox;
  display: box;
  display: flex;
  border-bottom: 1px solid #add8e6;
}
.album-table td,
.album-table th {
  -o-box-flex: 1;
  box-flex: 1;
  flex: 0 0 10%;
  min-width: 100px;
}
.album-table th {
  color: #1e90ff;
}
.album-table .img-db {
  max-width: 100px;
}
.album-table .album-name {
  color: #fffb78;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.2;
}
.album-table .album-name:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.show-albums {
  background-image: linear-gradient(to right, #94c0e8, #507ba3, #3c5d7b);
  padding: 50px;
}
form {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #add8e6;
  padding: 15px;
}
form .form-group {
  margin-bottom: 20px;
}
form .form-group label {
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 10px;
  color: #483d8b;
}
header {
  position: relative;
  width: 100%;
  height: 100px;
  color: #151e24;
}
header .wrap {
  height: 100%;
}
header nav {
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-align: center;
  align-items: center;
  height: 100%;
}
header nav a {
  margin-right: 15px;
  color: #bf9474;
  font-size: 18px;
}

/*# sourceMappingURL=main.css.map */
