body
    color black
    font-size 16px
    font1()
    line-height 1

.wrap
    margin 0 auto
    max-width 1260px
    padding-left: 30px
    padding-right: 30px

   

p
    margin 10px 0
    line-height 2.1


.h1
    font2()
    font-size  responsive 30px 56px
    letter-spacing 2.8px
    line-height 1.2
    margin 10px 0
    margin-bottom: 25px

    @media(max-width: 599px)
        margin: 4px 0 25px


.h2
    font1()
    font-size  responsive 20px 22px
    letter-spacing 2.8px
    line-height 1.2
    margin 10px 0
    margin-bottom: 25px

    @media(max-width: 599px)
        margin: 4px 0 25px


.split
    display flex

    & > *
        flex 0 0 50%

section
    width 100%


.tac
    text-align center
